nav#menu{
    width: 100%;
    position: fixed;
    z-index: 100;
    top: 0;
    left: 0;
    background: $col-10;
    .container-fluid{
        button.navbar-toggler{
            border-color: $col-3;
        }
        .collapse{
            .nav-link{
                color: $col-3;
            }
            .nav-link.active{
                font-weight: bold;
            }
        }
    }
}